/* Container do cabeçalho para posicionar a logo e o menu hambúrguer */
.header {
  display: flex;
  justify-content: space-between; /* Espaça logo e menu hambúrguer */
  align-items: center; /* Alinha verticalmente */
  padding: 20px; /* Adiciona espaçamento ao redor do cabeçalho */
  background-color: #1e1e1e; /* Fundo para o cabeçalho */
  position: relative; /* Necessário para a posição absoluta do menu hambúrguer */
}

/* Estilo para a logo */
.logo {
  display: flex;
  align-items: center; /* Alinha verticalmente a logo */
}

/* Estilo para o botão de menu hambúrguer */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  color: #d3d3d3;
  font-size: 24px; /* Tamanho da fonte ajustado para maior visibilidade */
  cursor: pointer;
  padding: 10px; /* Adiciona padding para uma área de clique mais confortável */
  transition: color 0.3s ease; /* Transição suave para mudanças de cor */
}

.hamburger-menu:hover {
  color: #ffffff; /* Cor do texto ao passar o mouse */
}

/* Estilo para o menu de navegação móvel */
.mobile-nav {
  display: none;
  position: fixed; /* Corrige a posição para fixar o menu no topo */
  top: 0;
  right: 0;
  width: 80%; /* Ajusta a largura do menu móvel */
  max-width: 300px;
  height: 100vh; /* Ocupa toda a altura da tela */
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transições suaves */
  z-index: 1000; /* Garante que o menu fique acima de outros elementos */
  overflow-y: auto; /* Permite rolar o menu se necessário */
  background-color: #1e1e1e; /* Fundo para o menu móvel */
}

/* Estilo da lista de itens dentro do menu móvel */
.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav ul li {
  padding: 15px;
  border-bottom: 1px solid #444;
}

.mobile-nav ul li a {
  color: #d3d3d3;
  text-decoration: none;
  display: block;
  font-size: 18px; /* Tamanho da fonte ajustado para melhor legibilidade */
}

.mobile-nav ul li a:hover {
  color: #ffffff; /* Cor ao passar o mouse sobre os links */
}

/* Mostrar o menu hambúrguer e navegação móvel em telas menores */
@media (max-width: 768px) {
  .desktop-nav {
    display: none; /* Esconde a navegação desktop em telas pequenas */
  }

  .hamburger-menu {
    display: block; /* Exibe o botão do menu hambúrguer */
  }

  .mobile-nav.active {
    transform: translateX(0); /* Move o menu para dentro da tela */
    opacity: 1; /* Garante que o menu seja visível */
  }

  body.no-scroll {
    overflow: hidden; /* Impede o rolar da página quando o menu está aberto */
  }
}

/* Adiciona animação e suaviza a exibição do menu móvel */
@media (max-width: 768px) {
  .mobile-nav.show {
    display: block; /* Exibe o menu móvel quando a classe "show" está adicionada */
    transform: translateX(0); /* Move o menu para dentro da tela */
    opacity: 1; /* Garante que o menu seja visível */
  }
}
