/* Responsividade para tamanhos de tela específicos */
@media (max-width: 393px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .mobile-nav.active {
        display: flex;
    }

    #animate {
        padding: 1rem; /* Reduz o padding em telas muito pequenas */
    }

    #animate .ci-icon {
        width: 60px; /* Ajusta o tamanho dos ícones */
        height: 60px;
        font-size: 1.8rem; /* Ajusta o tamanho do ícone */
    }

    #animate .ci-text h4 {
        font-size: 1rem; /* Ajusta o tamanho do título */
    }

    #animate .ci-text p {
        font-size: 0.8rem; /* Ajusta o tamanho do texto */
    }

    .container-primary {
        padding: 0 5px;
    }

    .container-content h1 {
        font-size: 3rem;
    }

    #span {
        font-size: 2rem;
    }

    .container-primary p {
        font-size: 1rem;
    }

    .scroll-button {
        width: 35px;
        height: 35px;
        bottom: 5px;
        animation: pulse 0.6s infinite, blink 0.4s infinite;
    }

    .scroll-button img {
        width: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .mobile-nav.active {
        display: flex;
    }

    #animate {
        padding: 1rem; /* Reduz o padding em telas menores */
    }

    #animate .ci-icon {
        width: 60px; /* Ajusta o tamanho dos ícones */
        height: 60px;
        font-size: 1.8rem; /* Ajusta o tamanho do ícone */
    }

    #animate .ci-text h4 {
        font-size: 1rem; /* Ajusta o tamanho do título */
    }

    #animate .ci-text p {
        font-size: 0.8rem; /* Ajusta o tamanho do texto */
    }

    .container-primary {
        padding: 0 5px;
    }

    .container-content h1 {
        font-size: 4rem;
    }

    #span {
        font-size: 2.5rem;
    }

    .container-primary p {
        font-size: 1.2rem;
    }

    .scroll-button {
        width: 40px;
        height: 40px;
        bottom: 5px;
        animation: pulse 0.6s infinite, blink 0.4s infinite;
    }

    .scroll-button img {
        width: 25px;
    }
}

@media (max-width: 856px) {
    .header {
        padding: 1rem 1.5rem;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .mobile-nav.active {
        display: flex;
    }

    #animate {
        padding: 1.5rem; /* Ajusta o padding em telas menores */
    }

    #animate .ci-icon {
        width: 70px; /* Ajusta o tamanho dos ícones */
        height: 70px;
        font-size: 2rem; /* Ajusta o tamanho do ícone */
    }

    #animate .ci-text h4 {
        font-size: 1.1rem; /* Ajusta o tamanho do título */
    }

    #animate .ci-text p {
        font-size: 0.85rem; /* Ajusta o tamanho do texto */
    }

    .container-primary {
        padding: 0 10px;
    }

    .container-content h1 {
        font-size: 4rem;
    }

    #span {
        font-size: 2.8rem;
    }

    .container-primary p {
        font-size: 1.3rem;
    }

    .scroll-button {
        width: 45px;
        height: 45px;
        bottom: 10px;
        animation: pulse 0.7s infinite, blink 0.5s infinite;
    }

    .scroll-button img {
        width: 30px;
    }
}

@media (max-width: 1040px) {
    #animate .ci-icon {
        width: 80px; /* Ajusta o tamanho dos ícones */
        height: 80px;
        font-size: 2.5rem; /* Ajusta o tamanho do ícone */
    }

    #animate .ci-text h4 {
        font-size: 1.25rem; /* Ajusta o tamanho do título */
    }

    #animate .ci-text p {
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }
}

@media (max-width: 820px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .container-primary {
        padding: 0 5px;
    }

    .container-content h1 {
        font-size: 4rem;
    }

    #span {
        font-size: 2.3rem;
    }

    .container-primary p {
        font-size: 1.2rem;
    }

    .scroll-button {
        width: 40px;
        height: 40px;
        bottom: 5px;
        animation: pulse 0.6s infinite, blink 0.4s infinite;
    }

    .scroll-button img {
        width: 25px;
    }
}

/* Ajustes para dispositivos menores */
@media (max-width: 768px) {
    #animate {
        padding: 1.5rem; /* Reduz o padding em telas menores */
    }

    #animate .ci-icon {
        width: 70px; /* Ajusta o tamanho dos ícones */
        height: 70px;
        font-size: 2rem; /* Ajusta o tamanho do ícone */
    }

    #animate .ci-text h4 {
        font-size: 1.1rem; /* Ajusta o tamanho do título */
    }

    #animate .ci-text p {
        font-size: 0.85rem; /* Ajusta o tamanho do texto */
    }

    .container-primary {
        padding: 0 10px;
    }

    .container-content h1 {
        font-size: 4rem;
    }

    #span {
        font-size: 2.5rem;
    }

    .container-primary p {
        font-size: 1.3rem;
    }

    .scroll-button {
        width: 45px;
        height: 45px;
        bottom: 10px;
        animation: pulse 0.7s infinite, blink 0.5s infinite;
    }

    .scroll-button img {
        width: 30px;
    }
}

@media (max-width: 975px) {
    .header {
        padding: 1rem 1.5rem;
    }

    .container-primary {
        padding: 0 10px;
    }

    .container-content h1 {
        font-size: 4rem;
    }

    #span {
        font-size: 3rem;
    }

    .container-primary p {
        font-size: 1.5rem;
    }

    .scroll-button {
        bottom: 5px;
        animation: pulse 0.8s infinite, blink 0.6s infinite;
    }

    .scroll-button img {
        width: 35px;
    }
}

@media (max-width: 1559px) {
    .header {
        padding: 1.5rem 2rem;
    }

    .container-primary {
        height: auto;
        padding: 0 15px;
    }

    .container-content h1 {
        font-size: 5rem;
    }

    #span {
        font-size: 3.5rem;
    }

    .container-primary p {
        font-size: 1.6rem;
    }

    .scroll-button {
        bottom: 15px;
        animation: pulse 1s infinite, blink 0.8s infinite;
    }

    .scroll-button img {
        width: 40px;
    }
}
/* Estilos Gerais */

/* Para telas menores que 1559px */
@media (max-width: 1559px) {
    .profile-text h1 {
        font-size: 2.8rem; /* Ajusta o tamanho do texto do título */
        margin: 0.5rem 0; /* Espaçamento vertical ao redor do título */
    }

    .profile-text .intro-text,
    .profile-text .summary {
        font-size: 1.1rem; /* Tamanho do texto para uma leitura confortável */
        line-height: 1.5; /* Melhora a legibilidade */
        margin-bottom: 1rem; /* Espaçamento abaixo dos blocos de texto */
    }

    .profile-image {
        max-width: 350px; /* Largura máxima da imagem */
        width: 100%; /* Garante que a imagem ocupe o máximo disponível */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 1rem; /* Espaçamento inferior para uma boa separação */
    }

    .about {
        padding: 4rem 3rem; /* Ajusta o espaçamento para telas menores */
    }

    .section-title {
        font-size: 2.5rem; /* Ajusta o tamanho do título */
    }

    .ci-icon img {
        font-size: 2.5rem; /* Ajusta o tamanho dos ícones */
        max-width: 120px; /* Ajusta a largura máxima dos ícones */
    }

    .ci-text h4 {
        font-size: 1.3rem; /* Ajusta o tamanho do texto */
    }

    .ci-text p {
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }

    .certificates-education {
        padding: 4rem 2rem; /* Ajusta o espaçamento para telas menores */
    }

    .certificates-education .section-title {
        font-size: 2rem; /* Ajusta o tamanho do título */
    }

    .certificates-list {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas menores */
    }

    .certificates-list .item {
        padding: 1rem; /* Reduz o padding interno dos itens */
    }

    .certificates-list .item .icon {
        width: 60px; /* Ajusta o tamanho dos ícones */
        height: 60px;
    }

    .certificates-list .item .info h4 {
        font-size: 1rem; /* Ajusta o tamanho do título */
    }

    .certificates-list .item .info p {
        font-size: 0.8rem; /* Ajusta o tamanho do texto */
    }
}

/* Para telas menores que 975px */
@media (max-width: 975px) {
    .profile-text h1 {
        font-size: 2.5rem; /* Ajusta o tamanho do título para telas menores */
        margin: 0.5rem 0; /* Espaçamento vertical ao redor do título */
    }

    .profile-text .intro-text,
    .profile-text .summary {
        font-size: 1rem; /* Tamanho do texto para uma leitura confortável */
        line-height: 1.4; /* Melhora a legibilidade */
        margin-bottom: 1rem; /* Espaçamento abaixo dos blocos de texto */
    }

    .user-profile {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens horizontalmente */
        gap: 1.5rem; /* Espaçamento entre os itens */
        padding: 1rem; /* Adiciona preenchimento ao redor do conteúdo */
    }

    .profile-image {
        max-width: 300px; /* Largura máxima da imagem para telas menores */
        width: 100%; /* Garante que a imagem ocupe o máximo disponível */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 1rem; /* Espaçamento inferior para uma boa separação */
    }

    .about {
        padding: 3rem 1.5rem; /* Reduz o espaçamento para dispositivos móveis */
    }

    .section-title {
        font-size: 2rem; /* Ajusta o tamanho do título */
    }

    .ci-icon img {
        font-size: 2rem; /* Ajusta o tamanho dos ícones */
        max-width: 100px; /* Ajusta a largura máxima dos ícones */
    }

    .ci-text h4 {
        font-size: 1.2rem; /* Ajusta o tamanho do texto */
    }

    .ci-text p {
        font-size: 0.8rem; /* Ajusta o tamanho do texto */
    }
}

/* Estilo para telas menores que 820px */
@media (max-width: 820px) {
    .profile-text h1 {
        font-size: 2rem; /* Ajusta o tamanho da fonte do título */
        margin: 0.5rem 0; /* Adiciona espaçamento vertical ao redor do título */
    }

    .profile-text .intro-text,
    .profile-text .summary {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte do texto */
        line-height: 1.4; /* Melhora a legibilidade com espaçamento entre linhas */
        margin-bottom: 1rem; /* Adiciona espaçamento abaixo dos blocos de texto */
    }

    .profile-image {
        max-width: 250px; /* Define a largura máxima da imagem */
        width: 100%; /* Garante que a imagem se ajuste ao contêiner */
        height: auto; /* Mantém a proporção da imagem */
        margin-bottom: 0.5rem; /* Ajusta o espaçamento inferior */
    }

    .profile-container {
        padding: 1rem; /* Adiciona preenchimento ao redor do conteúdo */
        text-align: center; /* Centraliza o texto e a imagem */
    }

    .about {
        padding: 2rem 1rem; /* Reduz ainda mais o espaçamento */
    }

    .section-title {
        font-size: 1.8rem; /* Ajusta o tamanho do título */
    }

    .ci-icon img {
        font-size: 1.8rem; /* Ajusta o tamanho dos ícones */
        max-width: 80px; /* Ajusta a largura máxima dos ícones */
    }

    .ci-text h4 {
        font-size: 1rem; /* Ajusta o tamanho do texto */
    }

    .ci-text p {
        font-size: 0.7rem; /* Ajusta o tamanho do texto */
    }

    .certificates-list .item .icon {
        width: 50px; /* Ajusta o tamanho dos ícones */
        height: 50px;
    }

    .certificates-list .item .info h4 {
        font-size: 0.9rem; /* Ajusta o tamanho do título */
    }

    .certificates-list .item .info p {
        font-size: 0.7rem; /* Ajusta o tamanho do texto */
    }
}

/* Ajustes para dispositivos menores */
@media (max-width: 1024px) {
    .social-icon {
        width: 80px; /* Reduz o tamanho dos ícones em telas menores */
        height: 80px;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .social-icon {
        width: 60px; /* Reduz ainda mais o tamanho dos ícones em telas menores */
        height: 60px;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .social-icon {
        width: 50px; /* Tamanho dos ícones em telas muito pequenas */
        height: 50px;
        font-size: 1rem;
    }
}

/* Ajuste para dispositivos menores */
@media (max-width: 975px) {
    .certificates-education {
        padding: 3rem 1rem; /* Reduz o espaçamento para dispositivos móveis */
    }

    .certificates-education .section-title {
        font-size: 1.8rem; /* Ajusta o tamanho do título */
    }

    .certificates-list {
        grid-template-columns: 1fr; /* 1 coluna para telas pequenas */
    }

    .certificates-list .item {
        flex-direction: column; /* Empilha o ícone e as informações verticalmente */
        padding: 1rem; /* Reduz o padding interno dos itens */
    }

    .certificates-list .item .icon {
        margin-bottom: 1rem; /* Ajusta o espaçamento abaixo do ícone */
    }

    .certificates-list .item .icon img {
        width: 50px; /* Ajusta o tamanho dos ícones */
        height: 50px;
    }

    .certificates-list .item .info h4 {
        font-size: 0.9rem; /* Ajusta o tamanho do título */
    }

    .certificates-list .item .info p {
        font-size: 0.7rem; /* Ajusta o tamanho do texto */
    }
}

/* Ajuste para dispositivos muito pequenos */
@media (max-width: 820px) {
    .certificates-education {
        padding: 2rem 0.5rem; /* Reduz ainda mais o padding */
    }

    .certificates-education .section-title {
        font-size: 1.6rem; /* Ajusta o tamanho do título */
    }

    .certificates-list .item {
        padding: 0.8rem; /* Ajusta o padding interno dos itens */
    }

    .certificates-list .item .icon {
        width: 50px; /* Ajusta o tamanho dos ícones */
        height: 50px;
    }

    .certificates-list .item .icon img {
        width: 50%; /* Ajusta o tamanho da imagem dentro do ícone */
    }

    .certificates-list .item .info h4 {
        font-size: 0.8rem; /* Ajusta o tamanho do título */
    }

    .certificates-list .item .info p {
        font-size: 0.6rem; /* Ajusta o tamanho do texto */
    }
}
/* Ajustes para dispositivos maiores */
@media (max-width: 1559px) {
    .education {
        padding: 30px 10px; /* Reduzido o padding geral */
    }

    .education .section-title {
        font-size: 2rem; /* Ajusta o tamanho do título */
    }

    .education .education-wrapper {
        grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
    }

    .education .education-wrapper .item {
        padding: 12px; /* Ajusta o padding interno */
    }

    .education .education-wrapper .item .icon {
        width: 50px; /* Ajusta o tamanho dos ícones */
        height: 50px;
    }

    .education .education-wrapper .item .info h4 {
        font-size: 1.2rem; /* Ajusta o tamanho do título */
    }

    .education .education-wrapper .item .info p {
        font-size: 0.9rem; /* Ajusta o tamanho do texto */
    }
}

/* Ajustes para dispositivos menores */
@media (max-width: 975px) {
    .education {
        padding: 20px 5px; /* Reduzido o padding */
    }

    .education .section-title {
        font-size: 1.6rem; /* Ajusta o tamanho do título */
    }

    .education .education-wrapper {
        grid-template-columns: 1fr; /* 1 coluna para telas pequenas */
    }

    .education .education-wrapper .item {
        padding: 8px; /* Reduzido o padding interno */
        margin-bottom: 8px; /* Reduz o espaçamento entre itens */
    }

    .education .education-wrapper .item .icon {
        width: 50px; /* Ajusta o tamanho dos ícones */
        height: 50px;
        margin-bottom: 8px; /* Ajusta o espaçamento abaixo do ícone */
    }

    .education .education-wrapper .item .info h4 {
        font-size: 1rem; /* Ajusta o tamanho do título */
    }

    .education .education-wrapper .item .info p {
        font-size: 0.8rem; /* Ajusta o tamanho do texto */
    }
}

/* Ajustes para dispositivos muito pequenos */
@media (max-width: 820px) {
    .education {
        padding: 15px 5px; /* Reduzido ainda mais o padding */
    }

    .education .section-title {
        font-size: 1.4rem; /* Ajusta o tamanho do título */
    }

    .education .education-wrapper .item {
        padding: 6px; /* Reduzido o padding interno */
        margin-bottom: 6px; /* Reduz o espaçamento entre itens */
    }

    .education .education-wrapper .item .icon {
        width: 40px; /* Ajusta o tamanho dos ícones */
        height: 40px;
        margin-bottom: 6px; /* Ajusta o espaçamento abaixo do ícone */
    }

    .education .education-wrapper .item .info h4 {
        font-size: 0.9rem; /* Ajusta o tamanho do título */
    }

    .education .education-wrapper .item .info p {
        font-size: 0.7rem; /* Ajusta o tamanho do texto */
    }
}
/* Responsividade para Dispositivos Menores que 1559px */
@media (max-width: 1559px) {
    .skills {
        padding: 4rem 1.5rem; /* Reduz o padding para telas menores */
    }

    .section-title {
        font-size: 2rem; /* Ajusta o tamanho do título */
    }

    .skill-grid-wrapper {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }

    .skill-icon {
        width: 60px; /* Ajusta o tamanho da imagem */
        height: 60px;
    }

    .skill-description {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte */
    }
}

@media (max-width: 975px) {
    .skills {
        padding: 3rem 1rem; /* Reduz o padding para dispositivos móveis */
    }

    .section-title {
        font-size: 1.6rem; /* Ajusta o tamanho do título */
    }

    .skill-grid-wrapper {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em dispositivos móveis */
    }

    .skill-icon {
        width: 50px; /* Ajusta o tamanho da imagem */
        height: 50px;
    }

    .skill-description {
        font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    }
}

@media (max-width: 820px) {
    .skills {
        padding: 2rem 0.5rem; /* Reduz ainda mais o padding */
    }

    .section-title {
        font-size: 1.4rem; /* Ajusta o tamanho do título */
    }

    .skill-grid-wrapper {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }

    .skill-icon {
        width: 40px; /* Ajusta o tamanho da imagem */
        height: 40px;
    }

    .skill-description {
        font-size: 0.7rem; /* Ajusta o tamanho da fonte */
    }
}

/* Resposividade para Dispositivos Menores que 975px */
@media (max-width: 975px) {
    .portfolio-item {
        height: auto; /* Ajuste a altura para proporcionalidade */
        max-width: 100%; /* Garante que o item do portfólio não ultrapasse o contêiner pai */
    }

    .img-projeto {
        height: 200px; /* Mantém a altura da imagem proporcional */
    }

    .portfolio-item-info {
        height: auto; /* Ajuste a altura da descrição */
    }

    .img-projeto::before {
        content: ''; /* Remove o indicador de carregamento em telas menores */
    }
}

/* Responsividade para Dispositivos Maiores que 1200px */
@media (min-width: 1200px) {
    .img-projeto {
        height: 300px; /* Ajusta a altura da imagem para telas grandes */
    }
}
/* Responsividade para Dispositivos Menores que 975px */
@media (max-width: 975px) {
    .services {
        padding: 60px 10px; /* Reduzir padding em dispositivos menores */
    }

    .services .section-title {
        font-size: 2rem; /* Reduzir o tamanho do título */
    }

    .service-item {
        padding: 20px;
        max-width: 100%; /* Permite que os itens ocupem toda a largura disponível */
    }

    .service-item img {
        max-width: 60px; /* Reduzir o tamanho da imagem */
    }

    .service-item h3 {
        font-size: 1.5rem; /* Reduzir o tamanho do título do serviço */
    }

    .service-item li {
        font-size: 1rem; /* Reduzir o tamanho da fonte da lista */
    }

    .btn-solicitar {
        padding: 12px 30px; /* Ajustar o padding do botão */
        font-size: 1rem; /* Reduzir o tamanho da fonte do botão */
    }
}

/* Responsividade para Dispositivos Maiores que 1200px */
@media (min-width: 1200px) {
    .service-item {
        max-width: 400px; /* Largura máxima dos itens em telas grandes */
    }
}

/* Responsividade para Dispositivos Menores que 975px */
@media (max-width: 975px) {
    .contact {
        padding: 60px 10px; /* Reduzir padding em dispositivos menores */
    }

    .contact .section-title {
        font-size: 2rem; /* Reduzir o tamanho do título */
    }

    .contact-content {
        flex-direction: column;
        gap: 30px; /* Maior espaçamento entre os itens em dispositivos menores */
    }

    .contact-info {
        max-width: 100%; /* Permitir que os itens ocupem toda a largura disponível */
    }

    .contact-form {
        max-width: 100%; /* Permitir que o formulário ocupe toda a largura disponível */
    }

    .info-item i {
        font-size: 1.5rem; /* Reduzir o tamanho do ícone */
    }

    .info-item p {
        font-size: 0.9rem; /* Reduzir o tamanho da fonte */
    }

    .form-group label {
        font-size: 0.9rem; /* Reduzir o tamanho da fonte do rótulo */
    }

    .form-group input,
    .form-group textarea,
    .form-group input[type="file"] {
        font-size: 0.9rem; /* Reduzir o tamanho da fonte dos campos de entrada */
    }

    .btn-submit {
        padding: 10px 20px; /* Reduzir o padding do botão */
        font-size: 1rem; /* Reduzir o tamanho da fonte do botão */
    }
}

/* Responsividade para Dispositivos Maiores que 1200px */
@media (min-width: 1200px) {
    .contact-content {
        max-width: 1200px; /* Manter a largura máxima para grandes telas */
    }

    .contact-info {
        max-width: 350px; /* Largura máxima dos itens em telas grandes */
    }

    .contact-form {
        max-width: 600px; /* Largura máxima do formulário em telas grandes */
    }
}


@media (max-width: 975px) {
  .section-title {
    font-size: 1.5rem;
  }

  .number-aesthetics {
    font-size: 2rem;
  }

  .description-aesthetics {
    font-size: 0.875rem;
  }
}
@media (min-width: 975px) {
    .user-profile {
        flex-direction: row; /* Alinha a imagem e o texto lado a lado em telas maiores */
        align-items: flex-start;
        text-align: left;
    }

    .profile-text {
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
        max-width: 60%; /* Define a largura máxima do texto em relação à imagem */
    }

    .profile-image {
        margin-bottom: 0; /* Remove o espaçamento inferior em telas grandes */
    }
}
@media (max-width: 1024px) {
    #h1 {
        font-size: 8vw; /* Ajusta o tamanho da fonte para telas menores */
    }
#span{
         font-size: 7vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }
    .ml15 {
        font-size: 4vw; /* Ajusta o tamanho da fonte para telas menores */
    }
}

@media (max-width: 768px) {
    #h1 {
        font-size: 4vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }
    #span{
         font-size: 2vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }
    }
    .ml15 {
        font-size: 3.5vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }


@media (max-width: 480px) {
    #h1 {
        font-size: 2vw; /* Ajusta o tamanho da fonte para telas pequenas */
    }
     #span{
         font-size:1vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }
    .ml15 {
        font-size: 3vw; /* Ajusta o tamanho da fonte para telas pequenas */
    }
}
