/* Responsividade geral para telas grandes ou não especificadas */
.img-projeto {
    height: 500px; /* Ajusta a altura da imagem para telas grandes */
    width: auto;
}

.service-item {
    max-width: 400px; /* Largura máxima dos itens em telas grandes */
}

.contact-content {
    max-width: 1200px; /* Manter a largura máxima para grandes telas */
}

.contact-info {
    max-width: 350px; /* Largura máxima dos itens em telas grandes */
}

.contact-form {
    max-width: 600px; /* Largura máxima do formulário em telas grandes */
}

.user-profile {
    flex-direction: row; /* Alinha a imagem e o texto lado a lado em telas maiores */
    align-items: flex-start;
    text-align: left;
}

.profile-text {
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
    max-width: 60%; /* Define a largura máxima do texto em relação à imagem */
}

.profile-image {
    margin-bottom: 0; /* Remove o espaçamento inferior em telas grandes */
}

#scroll-to-top {
    width: 40px; /* Reduzido para telas menores */
    height: 40px; /* Reduzido para telas menores */
}

/* Responsividade para Dispositivos Menores que 820px */
@media (max-width: 820px) {
    .skills {
        padding: 2rem 0.5rem; /* Reduz ainda mais o padding */
    }

    .section-title {
        font-size: 1.4rem; /* Ajusta o tamanho do título */
    }

    .skill-grid-wrapper {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }

    .skill-icon {
        width: 40px; /* Ajusta o tamanho da imagem */
        height: 40px;
    }

    .skill-description {
        font-size: 0.7rem; /* Ajusta o tamanho da fonte */
    }

    .services {
        padding: 2rem 0.5rem; /* Reduz ainda mais o padding */
    }

    .services .section-title {
        font-size: 1.6rem; /* Ajusta o tamanho do título */
    }

    .service-item {
        padding: 10px;
    }

    .service-item img {
        max-width: 50px; /* Reduzir o tamanho da imagem */
    }

    .service-item h3 {
        font-size: 1.2rem; /* Reduzir o tamanho do título do serviço */
    }

    .service-item li {
        font-size: 0.9rem; /* Reduzir o tamanho da fonte da lista */
    }

    .contact {
        padding: 15px 5px; /* Reduzido ainda mais o padding */
    }

    .contact .section-title {
        font-size: 1.4rem; /* Ajusta o tamanho do título */
    }

    .contact-content {
        gap: 20px; /* Reduz o espaçamento entre itens */
    }

    .info-item i {
        font-size: 1.2rem; /* Ajusta o tamanho do ícone */
    }

    .info-item p,
    .form-group label,
    .form-group input,
    .form-group textarea,
    .form-group input[type="file"] {
        font-size: 0.8rem; /* Reduzir o tamanho da fonte dos campos e rótulos */
    }

    .btn-submit {
        padding: 8px 16px; /* Reduzir o padding do botão */
        font-size: 0.9rem; /* Reduzir o tamanho da fonte do botão */
    }

    .description-aesthetics {
        font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    }

    #scroll-to-top {
        width: 35px; /* Reduzido ainda mais para telas muito pequenas */
        height: 35px; /* Reduzido ainda mais para telas muito pequenas */
    }
}

/* Responsividade para Dispositivos Menores que 568px */
@media (max-width: 568px) {
    #h1 {
        font-size: 4vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }

    #span {
        font-size: 2vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }

    .ml15 {
        font-size: 3vw; /* Ajusta o tamanho da fonte para telas ainda menores */
    }
}

/* Responsividade para Dispositivos Menores que 480px */
@media (max-width: 480px) {
    .profile-text .intro-text {
        font-size: 1rem; /* Reduzido para maior legibilidade */
        margin-bottom: 1rem;
    }

    .profile-text .summary {
        font-size: 0.9rem; /* Reduzido para maior legibilidade */
        margin-bottom: 1rem;
        padding: 0 0.5rem; /* Menos padding para se ajustar melhor em telas pequenas */
    }

    .profile-text h1 {
        font-size: 2.5rem;
    }

    .profile-image {
        max-width: 200px; /* Ajustado para tela pequena */
    }

    .social-icon {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    #scroll-to-top {
        width: 35px; /* Reduzido ainda mais para telas muito pequenas */
        height: 35px; /* Reduzido ainda mais para telas muito pequenas */
    }
}

/* Responsividade para Dispositivos Menores que 393px */
@media (max-width: 393px) {
    .profile-text .intro-text {
        font-size: 0.9rem; /* Reduzido para se ajustar melhor ao espaço */
        margin-bottom: 0.5rem; /* Menos margem para não ocupar muito espaço */
    }

    .profile-text .summary {
        font-size: 0.8rem; /* Reduzido para melhor ajuste */
        margin-bottom: 0.5rem; /* Menos margem para se ajustar melhor */
        padding: 0 0.3rem; /* Menos padding para maior ajuste em telas muito pequenas */
    }

    .profile-text h1 {
        font-size: 2rem;
    }

    .profile-image {
        max-width: 150px; /* Ajustado para tela muito pequena */
    }

    .description-aesthetics {
        font-size: 0.7rem; /* Ajusta o tamanho da fonte */
    }
}

/* Responsividade para Dispositivos com Largura Entre 321px e 1320px */
@media (min-width: 321px) and (max-width: 1320px) {
    #h1 {
        font-size: 2vw; /* Ajusta o tamanho da fonte para telas menores dentro desse intervalo */
    }

    #span {
        font-size: 0.2vw; /* Ajusta o tamanho da fonte para telas menores dentro desse intervalo */
    }

    .ml15 {
        font-size: 0.5vw; /* Ajusta o tamanho da fonte para telas menores dentro desse intervalo */
    }
}

/* Responsividade para Dispositivos Maiores que 1200px */
@media (min-width: 1200px) {
    .img-projeto {
        height: 500px; /* Ajusta a altura da imagem para telas grandes */
        width: auto;
    }

    .service-item {
        max-width: 400px; /* Largura máxima dos itens em telas grandes */
    }

    .contact-content {
        max-width: 1200px; /* Manter a largura máxima para grandes telas */
    }

    .contact-info {
        max-width: 350px; /* Largura máxima dos itens em telas grandes */
    }

    .contact-form {
        max-width: 600px; /* Largura máxima do formulário em telas grandes */
    }

    .user-profile {
        flex-direction: row; /* Alinha a imagem e o texto lado a lado em telas maiores */
        align-items: flex-start;
        text-align: left;
    }

    .profile-text {
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
        max-width: 60%; /* Define a largura máxima do texto em relação à imagem */
    }

    .profile-image {
        margin-bottom: 0; /* Remove o espaçamento inferior em telas grandes */
    }
}
